#centered_container {
    width: 960px;
    margin: 0 auto;
    margin-top: 15em;
}
#centered_container h1 {
    text-align: center;
}
.container {
    margin: 0 auto;
}
#search_box {
    height: 32.2px;
    position: relative;
    border-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left: 1px solid #999;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    border-right: 0px solid #999;
}
#search_box:focus {
    outline: none !important;
    border-left: 1px solid #999 !important;
    border-top: 1px solid #999 !important;
    border-bottom: 1px solid #999 !important;
    border-right: 0px solid #999 !important;
    box-shadow: 0 0 0 !important;
}
#search_form button {
    height: 32.2px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}
#upload_btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-image: url("../img/upload.svg");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 12px 8px;
}
#search_button {
    border-right: 1px solid #999;
}
