{% extends "base.html" %}
{% block content %}
<div id="centered_container">
    <div class="units-row">
        <div class="unit-centered unit-30">
            <h1>waifu.coffee</h1>
        </div>
    </div>
    <div class="units-row">
        <div class="unit-centered unit-70">
            <form id="search_form" method="POST" class="forms" enctype="multipart/form-data">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}"/>
                <p class="input-groups">
                    <input id="search_box" type="text" name="url" autocomplete="off" spellcheck="false" placeholder="URL" autofocus/>
                    <span class="btn-append">
                        <button id="upload_btn" type='button' class="btn"></button>
                    </span>
                    <span class="btn-append">
                        <button id="search_button" class="btn btn-green">Search</button>
                    </span>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
