{% extends "base.html" %}
{% block content %}
<div id="centered_container">
    <div class="units-row">
        <div class="unit-centered unit-30">
            <h1>waifu.coffee</h1>
        </div>
    </div>
    <div class="units-row">
        <div class="unit-centered unit-70">
            <div class="units-row">
                <form method="POST" class="forms" enctype="multipart/form-data">
                    <div class="unit-100">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}"/>
                        <label>
                            <input id="search_box" type="input" name="url" class="width-100" spellcheck="false" autofocus/>
                        </label>
                        <button class="btn btn-green width-50">Search</button>
                    </div>
                    {#-
                    <div class="unit-50">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}"/>
                        <label>
                            {% if error %}
                            <input type="file" name="file" class="input-error" />
                            <span class="error">{{error}}</span>
                            {% else %}
                            <input type="file" name="file"/>
                            {% endif %}
                        </label>
                    </div> -#}
            </form>
        </div>
    </div>
</div>
{% endblock %}
